1)

In [3]:
import csv
import pandas as pd
import numpy as np

In [4]:
df_crop = pd.read_csv('crop.csv')

In [5]:
df_crop

,field_id,field_geometry,year,crop_type
0,1092,MULTIPOLYGON(((-96.1782434166667 46.2392777333...,2019,corn
1,1092,MULTIPOLYGON(((-96.1782434166667 46.2392777333...,2020,corn
2,1092,MULTIPOLYGON(((-96.1782434166667 46.2392777333...,2015,soybeans
3,1092,MULTIPOLYGON(((-96.1782434166667 46.2392777333...,2018,soybeans
4,1092,MULTIPOLYGON(((-96.1782434166667 46.2392777333...,2017,sugarbeets
5,1092,MULTIPOLYGON(((-96.1782434166667 46.2392777333...,2021,sugarbeets
6,3699,"MULTIPOLYGON(((-91.89919024 42.30106534,-91.89...",2015,corn
7,3699,"MULTIPOLYGON(((-91.89919024 42.30106534,-91.89...",2017,corn
8,3699,"MULTIPOLYGON(((-91.89919024 42.30106534,-91.89...",2018,corn
9,3699,"MULTIPOLYGON(((-91.89919024 42.30106534,-91.89...",2019,corn
10,3699,"MULTIPOLYGON(((-91.89919024 42.30106534,-91.89...",2020,corn
11,3699,"MULTIPOLYGON(((-91.89919024 42.30106534,-91.89...",2021,corn
12,5554,MULTIPOLYGON(((-89.7710846697374 38.4977784952...,2020,corn
13,5554,MULTIPOLYGON(((-89.7710846697374 38.4977784952...,2021,corn
14,5554,MULTIPOLYGON(((-89.7710846697374 38.4977784952...,2015,soybeans
15,5554,MULTIPOLYGON(((-89.7710846697374 38.4977784952...,2017,soybeans
16,5554,MULTIPOLYGON(((-89.7710846697374 38.4977784952...,2018,soybeans
17,5554,MULTIPOLYGON(((-89.7710846697374 38.4977784952...,2019,soybeans
18,4871,MULTIPOLYGON(((-99.9220194817747 39.1820087338...,2018,corn
19,4871,MULTIPOLYGON(((-99.9220194817747 39.1820087338...,2019,corn
20,4871,MULTIPOLYGON(((-99.9220194817747 39.1820087338...,2020,corn
21,4871,MULTIPOLYGON(((-99.9220194817747 39.1820087338...,2021,corn
22,4871,MULTIPOLYGON(((-99.9220194817747 39.1820087338...,2015,soybeans
23,4871,MULTIPOLYGON(((-99.9220194817747 39.1820087338...,2017,winter Wheat
24,5132,MULTIPOLYGON(((-89.2995100572093 40.2368423398...,2018,corn
25,5132,MULTIPOLYGON(((-89.2995100572093 40.2368423398...,2020,corn
26,5132,MULTIPOLYGON(((-89.2995100572093 40.2368423398...,2015,soybeans
27,5132,MULTIPOLYGON(((-89.2995100572093 40.2368423398...,2017,soybeans
28,5132,MULTIPOLYGON(((-89.2995100572093 40.2368423398...,2019,soybeans
29,5132,MULTIPOLYGON(((-89.2995100572093 40.2368423398...,2021,soybeans
30,5203,"MULTIPOLYGON(((-89.66628 40.572702,-89.666089 ...",2015,corn
31,5203,"MULTIPOLYGON(((-89.66628 40.572702,-89.666089 ...",2018,corn
32,5203,"MULTIPOLYGON(((-89.66628 40.572702,-89.666089 ...",2020,corn
33,5203,"MULTIPOLYGON(((-89.66628 40.572702,-89.666089 ...",2017,soybeans
34,5203,"MULTIPOLYGON(((-89.66628 40.572702,-89.666089 ...",2019,soybeans
35,5203,"MULTIPOLYGON(((-89.66628 40.572702,-89.666089 ...",2021,soybeans
36,3462,"MULTIPOLYGON(((-93.914078 44.087228,-93.908894...",2015,corn
37,3462,"MULTIPOLYGON(((-93.914078 44.087228,-93.908894...",2017,corn
38,3462,"MULTIPOLYGON(((-93.914078 44.087228,-93.908894...",2019,corn
39,3462,"MULTIPOLYGON(((-93.914078 44.087228,-93.908894...",2021,corn
40,3462,"MULTIPOLYGON(((-93.914078 44.087228,-93.908894...",2018,soybeans
41,3462,"MULTIPOLYGON(((-93.914078 44.087228,-93.908894...",2020,soybeans
42,4797,"MULTIPOLYGON(((-95.536799 42.02537,-95.534475 ...",2015,corn
43,4797,"MULTIPOLYGON(((-95.536799 42.02537,-95.534475 ...",2017,corn
44,4797,"MULTIPOLYGON(((-95.536799 42.02537,-95.534475 ...",2019,corn
45,4797,"MULTIPOLYGON(((-95.536799 42.02537,-95.534475 ...",2021,corn
46,4797,"MULTIPOLYGON(((-95.536799 42.02537,-95.534475 ...",2018,soybeans
47,4797,"MULTIPOLYGON(((-95.536799 42.02537,-95.534475 ...",2020,soybeans
48,4557,"MULTIPOLYGON(((-89.87185 41.278741,-89.876238 ...",2018,corn
49,4557,"MULTIPOLYGON(((-89.87185 41.278741,-89.876238 ...",2020,corn
50,4557,"MULTIPOLYGON(((-89.87185 41.278741,-89.876238 ...",2015,soybeans
51,4557,"MULTIPOLYGON(((-89.87185 41.278741,-89.876238 ...",2017,soybeans
52,4557,"MULTIPOLYGON(((-89.87185 41.278741,-89.876238 ...",2019,soybeans
53,4557,"MULTIPOLYGON(((-89.87185 41.278741,-89.876238 ...",2021,soybeans
54,5608,MULTIPOLYGON(((-97.6152435044282 38.2250138427...,2015,winter Wheat
55,5608,MULTIPOLYGON(((-97.6152435044282 38.2250138427...,2017,winter Wheat
56,5608,MULTIPOLYGON(((-97.6152435044282 38.2250138427...,2018,winter Wheat
57,5608,MULTIPOLYGON(((-97.6152435044282 38.2250138427...,2019,winter Wheat
58,5608,MULTIPOLYGON(((-97.6152435044282 38.2250138427...,2020,winter Wheat
59,5608,MULTIPOLYGON(((-97.6152435044282 38.2250138427...,2021,winter Wheat

In [6]:
df_crop.dtypes

field_id           int64
field_geometry    object
year               int64
crop_type         object
dtype: object

In [8]:
df_crop21=df_crop[(df_crop['year'] > 2020) ]

In [9]:
df_crop21

,field_id,field_geometry,year,crop_type
5,1092,MULTIPOLYGON(((-96.1782434166667 46.2392777333...,2021,sugarbeets
11,3699,"MULTIPOLYGON(((-91.89919024 42.30106534,-91.89...",2021,corn
13,5554,MULTIPOLYGON(((-89.7710846697374 38.4977784952...,2021,corn
21,4871,MULTIPOLYGON(((-99.9220194817747 39.1820087338...,2021,corn
29,5132,MULTIPOLYGON(((-89.2995100572093 40.2368423398...,2021,soybeans
35,5203,"MULTIPOLYGON(((-89.66628 40.572702,-89.666089 ...",2021,soybeans
39,3462,"MULTIPOLYGON(((-93.914078 44.087228,-93.908894...",2021,corn
45,4797,"MULTIPOLYGON(((-95.536799 42.02537,-95.534475 ...",2021,corn
53,4557,"MULTIPOLYGON(((-89.87185 41.278741,-89.876238 ...",2021,soybeans
59,5608,MULTIPOLYGON(((-97.6152435044282 38.2250138427...,2021,winter Wheat

In [10]:
sample_2021=df_crop21[["field_id","year","crop_type"]]

In [11]:
sample_2021

    field_id  year     crop_type
5       1092  2021    sugarbeets
11      3699  2021          corn
13      5554  2021          corn
21      4871  2021          corn
29      5132  2021      soybeans
35      5203  2021      soybeans
39      3462  2021          corn
45      4797  2021          corn
53      4557  2021      soybeans
59      5608  2021  winter Wheat

In [12]:
sample_2021.to_csv("crop2021.csv")

2)

In [13]:
df_spectral = pd.read_csv('spectral.csv')

In [14]:
df_spectral

,tile_id,tile_geometry,date,nir,red
0,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-01-02,0.5907,0.6245
1,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-01-07,0.8639,0.8974
2,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-01-12,0.6682,0.7097
3,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-02-06,1.0800,1.0681
4,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-02-11,0.7927,0.7587
...,...,...,...,...,...
196449,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-20,0.3007,0.1442
196450,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-23,0.3468,0.1886
196451,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-25,0.3005,0.1541
196452,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-28,0.2921,0.1491
196453,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-30,0.4031,0.2257

In [15]:
df_spectral["NDVI"]= (df_spectral["nir"]-df_spectral["red"])/(df_spectral["nir"]+df_spectral["red"])

In [16]:
df_spectral

,tile_id,tile_geometry,date,nir,red,NDVI
0,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-01-02,0.5907,0.6245,-0.027814
1,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-01-07,0.8639,0.8974,-0.019020
2,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-01-12,0.6682,0.7097,-0.030118
3,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-02-06,1.0800,1.0681,0.005540
4,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-02-11,0.7927,0.7587,0.021916
...,...,...,...,...,...,...
196449,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-20,0.3007,0.1442,0.351764
196450,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-23,0.3468,0.1886,0.295480
196451,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-25,0.3005,0.1541,0.322041
196452,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-28,0.2921,0.1491,0.324116
196453,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-30,0.4031,0.2257,0.282125

In [18]:
df_spectral.dtypes

tile_id           object
tile_geometry     object
date              object
nir              float64
red              float64
NDVI             float64
dtype: object

In [19]:
df_spectral["date"] = pd.to_datetime(df_spectral["date"])

In [21]:
df_spectral

,tile_id,tile_geometry,date,nir,red,NDVI
0,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-01-02,0.5907,0.6245,-0.027814
1,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-01-07,0.8639,0.8974,-0.019020
2,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-01-12,0.6682,0.7097,-0.030118
3,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-02-06,1.0800,1.0681,0.005540
4,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-02-11,0.7927,0.7587,0.021916
...,...,...,...,...,...,...
196449,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-20,0.3007,0.1442,0.351764
196450,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-23,0.3468,0.1886,0.295480
196451,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-25,0.3005,0.1541,0.322041
196452,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-28,0.2921,0.1491,0.324116
196453,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-30,0.4031,0.2257,0.282125

In [22]:
df_spectral["year"] = df_spectral["date"].dt.year

In [23]:
df_spectral

,tile_id,tile_geometry,date,nir,red,NDVI,year
0,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-01-02,0.5907,0.6245,-0.027814,2021
1,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-01-07,0.8639,0.8974,-0.019020,2021
2,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-01-12,0.6682,0.7097,-0.030118,2021
3,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-02-06,1.0800,1.0681,0.005540,2021
4,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-02-11,0.7927,0.7587,0.021916,2021
...,...,...,...,...,...,...,...
196449,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-20,0.3007,0.1442,0.351764,2021
196450,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-23,0.3468,0.1886,0.295480,2021
196451,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-25,0.3005,0.1541,0.322041,2021
196452,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-28,0.2921,0.1491,0.324116,2021
196453,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-30,0.4031,0.2257,0.282125,2021

In [24]:
df_spectral.year.unique()

array([2021])

In [25]:
df_spectral.describe()

                 nir            red           NDVI      year
count  196454.000000  196454.000000  196454.000000  196454.0
mean        0.425366       0.296796       0.281456    2021.0
std         0.243456       0.296045       0.271803       0.0
min         0.023467       0.005800      -0.253288    2021.0
25%         0.265200       0.097000       0.104646    2021.0
50%         0.341850       0.186800       0.188891    2021.0
75%         0.501050       0.313800       0.392886    2021.0
max         1.426750       1.488100       0.941670    2021.0

In [26]:
df_spectral.NDVI.max()

0.9416699960047944

In [27]:
NDVI_Data = df_spectral.groupby('NDVI')

In [29]:
NDVI_Data.head()

,tile_id,tile_geometry,date,nir,red,NDVI,year
0,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-01-02,0.5907,0.6245,-0.027814,2021
1,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-01-07,0.8639,0.8974,-0.019020,2021
2,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-01-12,0.6682,0.7097,-0.030118,2021
3,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-02-06,1.0800,1.0681,0.005540,2021
4,0526d2ed-5bfa-497e-bfe3-c55822dfde0d_1,"POLYGON ((-96.182577 46.242294, -96.1832149858...",2021-02-11,0.7927,0.7587,0.021916,2021
...,...,...,...,...,...,...,...
196449,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-20,0.3007,0.1442,0.351764,2021
196450,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-23,0.3468,0.1886,0.295480,2021
196451,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-25,0.3005,0.1541,0.322041,2021
196452,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-28,0.2921,0.1491,0.324116,2021
196453,61e985c4-3c08-49df-a4fa-727a874ce7cb_16,"POLYGON ((-97.61149975121313 38.225014, -97.61...",2021-12-30,0.4031,0.2257,0.282125,2021

In [107]:
NDVI_Data.NDVI.max()

NDVI
-0.253288   -0.253288
-0.252547   -0.252547
-0.211317   -0.211317
-0.198344   -0.198344
-0.197331   -0.197331
               ...
 0.939160    0.939160
 0.939301    0.939301
 0.939849    0.939849
 0.940177    0.940177
 0.941670    0.941670
Name: NDVI, Length: 192391, dtype: float64

In [ ]:
NDVI_Data["tile_id", "tile_geometry", "pos","pos_date"]

In [109]:
max_x = df_spectral.loc[df_spectral["NDVI"].idxmax()]

In [110]:
max_x

tile_id                     b92062db-19a2-4c56-b973-3609fc4f7eaa_8
tile_geometry    POLYGON ((-95.531022 42.024172, -95.5309614131...
date                                           2021-06-13 00:00:00
nir                                                          0.486
red                                                         0.0146
NDVI                                                       0.94167
year                                                          2021
Name: 82663, dtype: object

In [111]:
df_spectral.loc[df_spectral["NDVI"].idxmax()]

tile_id                     b92062db-19a2-4c56-b973-3609fc4f7eaa_8
tile_geometry    POLYGON ((-95.531022 42.024172, -95.5309614131...
date                                           2021-06-13 00:00:00
nir                                                          0.486
red                                                         0.0146
NDVI                                                       0.94167
year                                                          2021
Name: 82663, dtype: object

In [47]:
df_spectral.loc[[82663]]

,tile_id,tile_geometry,date,nir,red,NDVI,year
82663,b92062db-19a2-4c56-b973-3609fc4f7eaa_8,"POLYGON ((-95.531022 42.024172, -95.5309614131...",2021-06-13,0.486,0.0146,0.94167,2021

In [112]:
df_spectral[df_spectral['NDVI']==df_spectral['NDVI'].max()]

,tile_id,tile_geometry,date,nir,red,NDVI,year
82663,b92062db-19a2-4c56-b973-3609fc4f7eaa_8,"POLYGON ((-95.531022 42.024172, -95.5309614131...",2021-06-13,0.486,0.0146,0.94167,2021

In [123]:
NDVI_max=df_spectral.nlargest(1, 'NDVI')

In [163]:
NDVI_max

,tile_id,tile_geometry,date,nir,red,NDVI,year
82663,b92062db-19a2-4c56-b973-3609fc4f7eaa_8,"POLYGON ((-95.531022 42.024172, -95.5309614131...",2021-06-13,0.486,0.0146,0.94167,2021

In [229]:
NDVI_max["date"]

82663   2021-06-13
Name: date, dtype: datetime64[ns]

In [230]:
column_list=["tile_id", "tile_geometry", "NDVI", "date"]


#or use columns arg
NDVI_max.to_csv('NDVI_max.csv', columns = column_list,index=False)

In [127]:
NDVI_max

,tile_id,tile_geometry,date,nir,red,NDVI,year
82663,b92062db-19a2-4c56-b973-3609fc4f7eaa_8,"POLYGON ((-95.531022 42.024172, -95.5309614131...",2021-06-13,0.486,0.0146,0.94167,2021

3)

In [40]:
df_soil = pd.read_csv('soil.csv')

In [41]:
df_soil

,mukey,mukey_geometry,cokey,comppct,hzname,hzdept,hzdepb,om,cec,ph
0,2745864,MULTIPOLYGON(((-100.163369013642 39.2522135605...,21931457,3.0,Bk,65.0,85.0,0.0,23.0,8.0
1,403232,MULTIPOLYGON(((-91.9101306109434 42.3005648363...,22008603,5.0,2BC,157.0,200.0,0.0,15.0,8.0
2,3182562,MULTIPOLYGON(((-96.1976590987368 46.2254787040...,21774499,6.0,Ap,0.0,18.0,5.0,26.0,7.0
3,403266,MULTIPOLYGON(((-91.9182412739232 42.3004292682...,22008590,90.0,Ap,0.0,23.0,3.0,18.0,6.0
4,403266,MULTIPOLYGON(((-91.9041165500703 42.3028625149...,22008592,3.0,Ap,0.0,20.0,4.0,19.0,6.0
...,...,...,...,...,...,...,...,...,...,...
1915,244814,MULTIPOLYGON(((-89.8925043678169 41.2802406477...,20887993,1.0,Ap,0.0,58.0,4.0,27.0,6.0
1916,399805,MULTIPOLYGON(((-95.5153242745035 42.0150387856...,22035164,5.0,Bg,86.0,117.0,2.0,27.0,6.0
1917,399777,MULTIPOLYGON(((-95.5369259679338 42.0145145495...,22034409,95.0,C,71.0,200.0,0.0,17.0,7.0
1918,403236,MULTIPOLYGON(((-91.9106676040995 42.3021768685...,22008561,5.0,A2,41.0,60.0,3.0,21.0,7.0
1919,3182557,MULTIPOLYGON(((-96.1839253797659 46.2461725213...,21774471,35.0,Ap,0.0,23.0,6.0,26.0,7.0

In [42]:
df_soil["hzlweight"]= abs(df_soil["hzdept"]-df_soil["hzdepb"])/(df_soil["hzdepb"])

In [43]:
df_soil

,mukey,mukey_geometry,cokey,comppct,hzname,hzdept,hzdepb,om,cec,ph,hzlweight
0,2745864,MULTIPOLYGON(((-100.163369013642 39.2522135605...,21931457,3.0,Bk,65.0,85.0,0.0,23.0,8.0,0.235294
1,403232,MULTIPOLYGON(((-91.9101306109434 42.3005648363...,22008603,5.0,2BC,157.0,200.0,0.0,15.0,8.0,0.215000
2,3182562,MULTIPOLYGON(((-96.1976590987368 46.2254787040...,21774499,6.0,Ap,0.0,18.0,5.0,26.0,7.0,1.000000
3,403266,MULTIPOLYGON(((-91.9182412739232 42.3004292682...,22008590,90.0,Ap,0.0,23.0,3.0,18.0,6.0,1.000000
4,403266,MULTIPOLYGON(((-91.9041165500703 42.3028625149...,22008592,3.0,Ap,0.0,20.0,4.0,19.0,6.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...
1915,244814,MULTIPOLYGON(((-89.8925043678169 41.2802406477...,20887993,1.0,Ap,0.0,58.0,4.0,27.0,6.0,1.000000
1916,399805,MULTIPOLYGON(((-95.5153242745035 42.0150387856...,22035164,5.0,Bg,86.0,117.0,2.0,27.0,6.0,0.264957
1917,399777,MULTIPOLYGON(((-95.5369259679338 42.0145145495...,22034409,95.0,C,71.0,200.0,0.0,17.0,7.0,0.645000
1918,403236,MULTIPOLYGON(((-91.9106676040995 42.3021768685...,22008561,5.0,A2,41.0,60.0,3.0,21.0,7.0,0.316667
1919,3182557,MULTIPOLYGON(((-96.1839253797659 46.2461725213...,21774471,35.0,Ap,0.0,23.0,6.0,26.0,7.0,1.000000

In [49]:
df_soil.mukey.unique()

array([2745864,  403232, 3182562,  403266,  399800,  396132, 1596035,
        399803,  399796,  403236,  244689,  399778,  399792,  399776,
       1150810, 3182557, 2669024, 2669022,  244623,  403268, 3182556,
       1612280, 2668945,  399781,  399774, 3182568,  403269,  435877,
       1596039,  396153,  399802,  399779,  244814,  403234, 1596000,
       1595766,  403212,  183070,  208703,  209019, 1150789,  183024,
        435526,  435686,  244618, 1150813,  396157,  403240,  183054,
        244688,  399804, 1595801,  396161, 3004698,  399787,  399809,
        399777, 2518531, 1596037,  244815,  183025,  403217,  403211,
        396133, 1596009,  399805, 1150801])

In [50]:
def weighted_average(dataframe, value, weight):
    val = dataframe[value]
    wt = dataframe[weight]
    return (val * wt).sum() / wt.sum()

In [51]:
df_soil.groupby('mukey').apply(weighted_average,
                                     'hzlweight', 'comppct')

mukey
183024     0.639591
183025     0.704433
183054     0.566656
183070     0.648463
208703     0.592133
             ...
3004698    0.470399
3182556    0.585192
3182557    0.582042
3182562    0.585392
3182568    0.585847
Length: 67, dtype: float64

In [52]:
listabc=df_soil.groupby('mukey').apply(weighted_average,
                                     'hzlweight', 'comppct')

In [53]:
listabc

mukey
183024     0.639591
183025     0.704433
183054     0.566656
183070     0.648463
208703     0.592133
             ...
3004698    0.470399
3182556    0.585192
3182557    0.582042
3182562    0.585392
3182568    0.585847
Length: 67, dtype: float64

In [54]:
df_weather = pd.read_csv('weather.csv')

In [55]:
df_weather

     fips_code  year  month  precip  temp
0        20113  2021     10    3.79  60.7
1        20113  2019      7    2.47  79.8
2        20113  2020      6    2.62  79.0
3        20113  2017      4    5.28  56.7
4        20113  2015     10    1.21  60.4
..         ...   ...    ...     ...   ...
835      20113  2017      2    0.18  44.1
836      17163  2017      2    0.36  46.1
837      17107  2019     10    4.53  53.4
838      19019  2016     10    1.88  54.1
839      20065  2017     10    3.02  55.5

[840 rows x 5 columns]

In [63]:
df_weather.groupby('fips_code').sum('precip')

             year  month  precip    temp
fips_code
17073      169512    546  283.75  4268.7
17107      169512    546  284.19  4490.5
17143      169512    546  290.79  4423.7
17163      169512    546  314.28  4803.6
19019      169512    546  275.82  3974.5
19047      169512    546  250.44  4130.1
20065      169512    546  164.31  4556.6
20113      169512    546  218.96  4773.8
27013      169512    546  255.44  3886.5
27111      169512    546  185.87  3558.8

In [60]:
df_weather.groupby('fips_code').min('temp')

           year  month  precip  temp
fips_code
17073      2015      1    0.33  14.2
17107      2015      1    0.46  19.1
17143      2015      1    0.52  17.8
17163      2015      1    0.36  25.1
19019      2015      1    0.44   9.8
19047      2015      1    0.12  12.6
20065      2015      1    0.04  22.9
20113      2015      1    0.08  24.8
27013      2015      1    0.14   8.4
27111      2015      1    0.07   3.0

In [61]:
df_weather.groupby('fips_code').max('temp')

           year  month  precip  temp
fips_code
17073      2021     12   10.58  77.2
17107      2021     12    8.62  77.6
17143      2021     12   12.24  77.7
17163      2021     12    9.49  80.4
19019      2021     12   11.75  74.2
19047      2021     12    8.90  75.6
20065      2021     12    9.04  80.1
20113      2021     12    8.61  82.1
27013      2021     12    9.23  73.9
27111      2021     12    7.18  72.6

In [62]:
df_weather.groupby('fips_code').mean('temp')

             year  month    precip       temp
fips_code
17073      2018.0    6.5  3.377976  50.817857
17107      2018.0    6.5  3.383214  53.458333
17143      2018.0    6.5  3.461786  52.663095
17163      2018.0    6.5  3.741429  57.185714
19019      2018.0    6.5  3.283571  47.315476
19047      2018.0    6.5  2.981429  49.167857
20065      2018.0    6.5  1.956071  54.245238
20113      2018.0    6.5  2.606667  56.830952
27013      2018.0    6.5  3.040952  46.267857
27111      2018.0    6.5  2.212738  42.366667

In [85]:
df_crop["field_geometry"][0]

'MULTIPOLYGON(((-96.1782434166667 46.2392777333333,-96.1788806333333 46.23928065,-96.179839 46.2392767666667,-96.1837698166667 46.2390938166667,-96.1838411 46.2393244833333,-96.1838884166667 46.2395315,-96.1838907666667 46.2397252833333,-96.1838998333333 46.2401125166667,-96.1839091666667 46.2404997166667,-96.1839140166667 46.2406939666667,-96.18391095 46.2408882333333,-96.1839077166667 46.2412758666667,-96.1839083666667 46.24147055,-96.18388385 46.24224775,-96.1838936166666 46.2432180166667,-96.1839009666667 46.2434122166667,-96.1839072833333 46.2436067,-96.1839232666667 46.2439951166667,-96.1839427666667 46.2443829333333,-96.1839531666667 46.24457715,-96.1840773166666 46.2463341333333,-96.1837443166667 46.2464624333333,-96.18023495 46.2463152166667,-96.1799258166667 46.2463137,-96.1796155333333 46.2463122666667,-96.1793137333333 46.2463106333333,-96.1790121 46.2463092166667,-96.1787046833334 46.2463077,-96.1741322166667 46.2464890666666,-96.1739298333333 46.2462182666667,-96.1739203833333 46.2461953333333,-96.1738939333333 46.2458504333333,-96.1738925333333 46.2458246,-96.1738834 46.2456476166667,-96.173881 46.2454431333333,-96.173871 46.24504005,-96.1738683666667 46.24459435,-96.17386515 46.2443819833333,-96.1738626333333 46.24416875,-96.1738506833333 46.2433278333333,-96.1738171 46.2424336166667,-96.1738170833333 46.2424328833333,-96.17382635 46.2417572166667,-96.17382165 46.2414432333333,-96.1738199833333 46.2412007666667,-96.1738173666667 46.2409893833333,-96.1738136166667 46.2407768833333,-96.1738103 46.2405636666667,-96.1738079666667 46.2403510333333,-96.1738045 46.2401375,-96.1738016 46.2399229833333,-96.1738244 46.2397669333333,-96.173845 46.2396496833333,-96.1753091333333 46.2392699333333,-96.1756693333333 46.2392019333333,-96.1779247 46.2392734666667,-96.1782434166667 46.2392777333333)))'

In [86]:
import requests
import urllib
import urllib.parse

#Sample latitude and longitudes
lat = 46.23928065
lon = -96.1788806333333
#-96.1782434166667 46.2392777333333
#-96.1839427666667 46.2443829333333
#-96.1788806333333 46.23928065,

#Encode parameters 
params = urllib.parse.urlencode({'latitude': lat, 'longitude':lon, 'format':'json'})
#Contruct request URL
url = 'https://geo.fcc.gov/api/census/block/find?' + params

#Get response from API
response = requests.get(url)

#Parse json in response
data = response.json()

#Print FIPS code
print (data['County']['FIPS'])

27111

In [333]:
import requests
import urllib
import urllib.parse

#Sample latitude and longitudes
lat = 46.23928065
lon = -96.1788806333333


#Encode parameters 
params = urllib.parse.urlencode({'latitude': lat, 'longitude':lon, 'format':'json'})
#Contruct request URL
url = 'https://geo.fcc.gov/api/census/block/find?' + params

#Get response from API
response = requests.get(url)

#Parse json in response
data = response.json()

#Print FIPS code
print (data['County']['FIPS'])

27111

In [334]:
df_crop

,field_id,field_geometry,year,crop_type,latlon
0,1092,MULTIPOLYGON(((-96.1782434166667 46.2392777333...,2019,corn,0
1,1092,MULTIPOLYGON(((-96.1782434166667 46.2392777333...,2020,corn,-96.1782434166667 46.2392777333...\n1
2,1092,MULTIPOLYGON(((-96.1782434166667 46.2392777333...,2015,soybeans,-96.1782434166667 46.2392777333...\n2
3,1092,MULTIPOLYGON(((-96.1782434166667 46.2392777333...,2018,soybeans,-96.1782434166667 46.2392777333...\n3
4,1092,MULTIPOLYGON(((-96.1782434166667 46.2392777333...,2017,sugarbeets,-96.1782434166667 46.2392777333...\n4
5,1092,MULTIPOLYGON(((-96.1782434166667 46.2392777333...,2021,sugarbeets,-96.1782434166667 46.2392777333...\n5
6,3699,"MULTIPOLYGON(((-91.89919024 42.30106534,-91.89...",2015,corn,-96.1782434166667 46.2392777333...\n6
7,3699,"MULTIPOLYGON(((-91.89919024 42.30106534,-91.89...",2017,corn,"-91.89919024 42.30106534,-91.89...\n7"
8,3699,"MULTIPOLYGON(((-91.89919024 42.30106534,-91.89...",2018,corn,"-91.89919024 42.30106534,-91.89...\n8"
9,3699,"MULTIPOLYGON(((-91.89919024 42.30106534,-91.89...",2019,corn,"-91.89919024 42.30106534,-91.89...\n9"
10,3699,"MULTIPOLYGON(((-91.89919024 42.30106534,-91.89...",2020,corn,"-91.89919024 42.30106534,-91.89...\n10"
11,3699,"MULTIPOLYGON(((-91.89919024 42.30106534,-91.89...",2021,corn,"-91.89919024 42.30106534,-91.89...\n11"
12,5554,MULTIPOLYGON(((-89.7710846697374 38.4977784952...,2020,corn,"-91.89919024 42.30106534,-91.89...\n12"
13,5554,MULTIPOLYGON(((-89.7710846697374 38.4977784952...,2021,corn,-89.7710846697374 38.4977784952...\n13
14,5554,MULTIPOLYGON(((-89.7710846697374 38.4977784952...,2015,soybeans,-89.7710846697374 38.4977784952...\n14
15,5554,MULTIPOLYGON(((-89.7710846697374 38.4977784952...,2017,soybeans,-89.7710846697374 38.4977784952...\n15
16,5554,MULTIPOLYGON(((-89.7710846697374 38.4977784952...,2018,soybeans,-89.7710846697374 38.4977784952...\n16
17,5554,MULTIPOLYGON(((-89.7710846697374 38.4977784952...,2019,soybeans,-89.7710846697374 38.4977784952...\n17
18,4871,MULTIPOLYGON(((-99.9220194817747 39.1820087338...,2018,corn,-89.7710846697374 38.4977784952...\n18
19,4871,MULTIPOLYGON(((-99.9220194817747 39.1820087338...,2019,corn,-99.9220194817747 39.1820087338...\n19
20,4871,MULTIPOLYGON(((-99.9220194817747 39.1820087338...,2020,corn,-99.9220194817747 39.1820087338...\n20
21,4871,MULTIPOLYGON(((-99.9220194817747 39.1820087338...,2021,corn,-99.9220194817747 39.1820087338...\n21
22,4871,MULTIPOLYGON(((-99.9220194817747 39.1820087338...,2015,soybeans,-99.9220194817747 39.1820087338...\n22
23,4871,MULTIPOLYGON(((-99.9220194817747 39.1820087338...,2017,winter Wheat,-99.9220194817747 39.1820087338...\n23
24,5132,MULTIPOLYGON(((-89.2995100572093 40.2368423398...,2018,corn,-99.9220194817747 39.1820087338...\n24
25,5132,MULTIPOLYGON(((-89.2995100572093 40.2368423398...,2020,corn,-89.2995100572093 40.2368423398...\n25
26,5132,MULTIPOLYGON(((-89.2995100572093 40.2368423398...,2015,soybeans,-89.2995100572093 40.2368423398...\n26
27,5132,MULTIPOLYGON(((-89.2995100572093 40.2368423398...,2017,soybeans,-89.2995100572093 40.2368423398...\n27
28,5132,MULTIPOLYGON(((-89.2995100572093 40.2368423398...,2019,soybeans,-89.2995100572093 40.2368423398...\n28
29,5132,MULTIPOLYGON(((-89.2995100572093 40.2368423398...,2021,soybeans,-89.2995100572093 40.2368423398...\n29
30,5203,"MULTIPOLYGON(((-89.66628 40.572702,-89.666089 ...",2015,corn,-89.2995100572093 40.2368423398...\n30
31,5203,"MULTIPOLYGON(((-89.66628 40.572702,-89.666089 ...",2018,corn,"-89.66628 40.572702,-89.666089 ...\n31"
32,5203,"MULTIPOLYGON(((-89.66628 40.572702,-89.666089 ...",2020,corn,"-89.66628 40.572702,-89.666089 ...\n32"
33,5203,"MULTIPOLYGON(((-89.66628 40.572702,-89.666089 ...",2017,soybeans,"-89.66628 40.572702,-89.666089 ...\n33"
34,5203,"MULTIPOLYGON(((-89.66628 40.572702,-89.666089 ...",2019,soybeans,"-89.66628 40.572702,-89.666089 ...\n34"
35,5203,"MULTIPOLYGON(((-89.66628 40.572702,-89.666089 ...",2021,soybeans,"-89.66628 40.572702,-89.666089 ...\n35"
36,3462,"MULTIPOLYGON(((-93.914078 44.087228,-93.908894...",2015,corn,"-89.66628 40.572702,-89.666089 ...\n36"
37,3462,"MULTIPOLYGON(((-93.914078 44.087228,-93.908894...",2017,corn,"-93.914078 44.087228,-93.908894...\n37"
38,3462,"MULTIPOLYGON(((-93.914078 44.087228,-93.908894...",2019,corn,"-93.914078 44.087228,-93.908894...\n38"
39,3462,"MULTIPOLYGON(((-93.914078 44.087228,-93.908894...",2021,corn,"-93.914078 44.087228,-93.908894...\n39"
40,3462,"MULTIPOLYGON(((-93.914078 44.087228,-93.908894...",2018,soybeans,"-93.914078 44.087228,-93.908894...\n40"
41,3462,"MULTIPOLYGON(((-93.914078 44.087228,-93.908894...",2020,soybeans,"-93.914078 44.087228,-93.908894...\n41"
42,4797,"MULTIPOLYGON(((-95.536799 42.02537,-95.534475 ...",2015,corn,"-93.914078 44.087228,-93.908894...\n42"
43,4797,"MULTIPOLYGON(((-95.536799 42.02537,-95.534475 ...",2017,corn,"-95.536799 42.02537,-95.534475 ...\n43"
44,4797,"MULTIPOLYGON(((-95.536799 42.02537,-95.534475 ...",2019,corn,"-95.536799 42.02537,-95.534475 ...\n44"
45,4797,"MULTIPOLYGON(((-95.536799 42.02537,-95.534475 ...",2021,corn,"-95.536799 42.02537,-95.534475 ...\n45"
46,4797,"MULTIPOLYGON(((-95.536799 42.02537,-95.534475 ...",2018,soybeans,"-95.536799 42.02537,-95.534475 ...\n46"
47,4797,"MULTIPOLYGON(((-95.536799 42.02537,-95.534475 ...",2020,soybeans,"-95.536799 42.02537,-95.534475 ...\n47"
48,4557,"MULTIPOLYGON(((-89.87185 41.278741,-89.876238 ...",2018,corn,"-95.536799 42.02537,-95.534475 ...\n48"
49,4557,"MULTIPOLYGON(((-89.87185 41.278741,-89.876238 ...",2020,corn,"-89.87185 41.278741,-89.876238 ...\n49"
50,4557,"MULTIPOLYGON(((-89.87185 41.278741,-89.876238 ...",2015,soybeans,"-89.87185 41.278741,-89.876238 ...\n50"
51,4557,"MULTIPOLYGON(((-89.87185 41.278741,-89.876238 ...",2017,soybeans,"-89.87185 41.278741,-89.876238 ...\n51"
52,4557,"MULTIPOLYGON(((-89.87185 41.278741,-89.876238 ...",2019,soybeans,"-89.87185 41.278741,-89.876238 ...\n52"
53,4557,"MULTIPOLYGON(((-89.87185 41.278741,-89.876238 ...",2021,soybeans,"-89.87185 41.278741,-89.876238 ...\n53"
54,5608,MULTIPOLYGON(((-97.6152435044282 38.2250138427...,2015,winter Wheat,"-89.87185 41.278741,-89.876238 ...\n54"
55,5608,MULTIPOLYGON(((-97.6152435044282 38.2250138427...,2017,winter Wheat,-97.6152435044282 38.2250138427...\n55
56,5608,MULTIPOLYGON(((-97.6152435044282 38.2250138427...,2018,winter Wheat,-97.6152435044282 38.2250138427...\n56
57,5608,MULTIPOLYGON(((-97.6152435044282 38.2250138427...,2019,winter Wheat,-97.6152435044282 38.2250138427...\n57
58,5608,MULTIPOLYGON(((-97.6152435044282 38.2250138427...,2020,winter Wheat,-97.6152435044282 38.2250138427...\n58
59,5608,MULTIPOLYGON(((-97.6152435044282 38.2250138427...,2021,winter Wheat,-97.6152435044282 38.2250138427...\n59

In [312]:
def getLatLon(x):
    strx=str(x)
    res=strx.split("MULTIPOLYGON(((")
    print(res[1])
    return(res)

In [337]:
def getlatlon(x):
    strx=str(x)
    result=strx.split("MULTIPOLYGON(((")
    print(result)
    return result

In [338]:
df_crop["latlon"]=df_crop[['field_geometry']].apply(getlat)

['0     ', '-96.1782434166667 46.2392777333...\n1     ', '-96.1782434166667 46.2392777333...\n2     ', '-96.1782434166667 46.2392777333...\n3     ', '-96.1782434166667 46.2392777333...\n4     ', '-96.1782434166667 46.2392777333...\n5     ', '-96.1782434166667 46.2392777333...\n6     ', '-91.89919024 42.30106534,-91.89...\n7     ', '-91.89919024 42.30106534,-91.89...\n8     ', '-91.89919024 42.30106534,-91.89...\n9     ', '-91.89919024 42.30106534,-91.89...\n10    ', '-91.89919024 42.30106534,-91.89...\n11    ', '-91.89919024 42.30106534,-91.89...\n12    ', '-89.7710846697374 38.4977784952...\n13    ', '-89.7710846697374 38.4977784952...\n14    ', '-89.7710846697374 38.4977784952...\n15    ', '-89.7710846697374 38.4977784952...\n16    ', '-89.7710846697374 38.4977784952...\n17    ', '-89.7710846697374 38.4977784952...\n18    ', '-99.9220194817747 39.1820087338...\n19    ', '-99.9220194817747 39.1820087338...\n20    ', '-99.9220194817747 39.1820087338...\n21    ', '-99.9220194817747 39.1820087338...\n22    ', '-99.9220194817747 39.1820087338...\n23    ', '-99.9220194817747 39.1820087338...\n24    ', '-89.2995100572093 40.2368423398...\n25    ', '-89.2995100572093 40.2368423398...\n26    ', '-89.2995100572093 40.2368423398...\n27    ', '-89.2995100572093 40.2368423398...\n28    ', '-89.2995100572093 40.2368423398...\n29    ', '-89.2995100572093 40.2368423398...\n30    ', '-89.66628 40.572702,-89.666089 ...\n31    ', '-89.66628 40.572702,-89.666089 ...\n32    ', '-89.66628 40.572702,-89.666089 ...\n33    ', '-89.66628 40.572702,-89.666089 ...\n34    ', '-89.66628 40.572702,-89.666089 ...\n35    ', '-89.66628 40.572702,-89.666089 ...\n36    ', '-93.914078 44.087228,-93.908894...\n37    ', '-93.914078 44.087228,-93.908894...\n38    ', '-93.914078 44.087228,-93.908894...\n39    ', '-93.914078 44.087228,-93.908894...\n40    ', '-93.914078 44.087228,-93.908894...\n41    ', '-93.914078 44.087228,-93.908894...\n42    ', '-95.536799 42.02537,-95.534475 ...\n43    ', '-95.536799 42.02537,-95.534475 ...\n44    ', '-95.536799 42.02537,-95.534475 ...\n45    ', '-95.536799 42.02537,-95.534475 ...\n46    ', '-95.536799 42.02537,-95.534475 ...\n47    ', '-95.536799 42.02537,-95.534475 ...\n48    ', '-89.87185 41.278741,-89.876238 ...\n49    ', '-89.87185 41.278741,-89.876238 ...\n50    ', '-89.87185 41.278741,-89.876238 ...\n51    ', '-89.87185 41.278741,-89.876238 ...\n52    ', '-89.87185 41.278741,-89.876238 ...\n53    ', '-89.87185 41.278741,-89.876238 ...\n54    ', '-97.6152435044282 38.2250138427...\n55    ', '-97.6152435044282 38.2250138427...\n56    ', '-97.6152435044282 38.2250138427...\n57    ', '-97.6152435044282 38.2250138427...\n58    ', '-97.6152435044282 38.2250138427...\n59    ', '-97.6152435044282 38.2250138427...\nName: field_geometry, dtype: object']

In [339]:
df_crop1=df_crop.iloc[1:, :]

In [340]:
df_crop1["latlon"]

1     -96.1782434166667 46.2392777333...\n1
2     -96.1782434166667 46.2392777333...\n2
3     -96.1782434166667 46.2392777333...\n3
4     -96.1782434166667 46.2392777333...\n4
5     -96.1782434166667 46.2392777333...\n5
6     -96.1782434166667 46.2392777333...\n6
7     -91.89919024 42.30106534,-91.89...\n7
8     -91.89919024 42.30106534,-91.89...\n8
9     -91.89919024 42.30106534,-91.89...\n9
10    -91.89919024 42.30106534,-91.89...\n10
11    -91.89919024 42.30106534,-91.89...\n11
12    -91.89919024 42.30106534,-91.89...\n12
13    -89.7710846697374 38.4977784952...\n13
14    -89.7710846697374 38.4977784952...\n14
15    -89.7710846697374 38.4977784952...\n15
16    -89.7710846697374 38.4977784952...\n16
17    -89.7710846697374 38.4977784952...\n17
18    -89.7710846697374 38.4977784952...\n18
19    -99.9220194817747 39.1820087338...\n19
20    -99.9220194817747 39.1820087338...\n20
21    -99.9220194817747 39.1820087338...\n21
22    -99.9220194817747 39.1820087338...\n22
23    -99.9220194817747 39.1820087338...\n23
24    -99.9220194817747 39.1820087338...\n24
25    -89.2995100572093 40.2368423398...\n25
26    -89.2995100572093 40.2368423398...\n26
27    -89.2995100572093 40.2368423398...\n27
28    -89.2995100572093 40.2368423398...\n28
29    -89.2995100572093 40.2368423398...\n29
30    -89.2995100572093 40.2368423398...\n30
31    -89.66628 40.572702,-89.666089 ...\n31
32    -89.66628 40.572702,-89.666089 ...\n32
33    -89.66628 40.572702,-89.666089 ...\n33
34    -89.66628 40.572702,-89.666089 ...\n34
35    -89.66628 40.572702,-89.666089 ...\n35
36    -89.66628 40.572702,-89.666089 ...\n36
37    -93.914078 44.087228,-93.908894...\n37
38    -93.914078 44.087228,-93.908894...\n38
39    -93.914078 44.087228,-93.908894...\n39
40    -93.914078 44.087228,-93.908894...\n40
41    -93.914078 44.087228,-93.908894...\n41
42    -93.914078 44.087228,-93.908894...\n42
43    -95.536799 42.02537,-95.534475 ...\n43
44    -95.536799 42.02537,-95.534475 ...\n44
45    -95.536799 42.02537,-95.534475 ...\n45
46    -95.536799 42.02537,-95.534475 ...\n46
47    -95.536799 42.02537,-95.534475 ...\n47
48    -95.536799 42.02537,-95.534475 ...\n48
49    -89.87185 41.278741,-89.876238 ...\n49
50    -89.87185 41.278741,-89.876238 ...\n50
51    -89.87185 41.278741,-89.876238 ...\n51
52    -89.87185 41.278741,-89.876238 ...\n52
53    -89.87185 41.278741,-89.876238 ...\n53
54    -89.87185 41.278741,-89.876238 ...\n54
55    -97.6152435044282 38.2250138427...\n55
56    -97.6152435044282 38.2250138427...\n56
57    -97.6152435044282 38.2250138427...\n57
58    -97.6152435044282 38.2250138427...\n58
59    -97.6152435044282 38.2250138427...\n59
Name: latlon, dtype: object

In [347]:
for elem in df_crop1["latlon"]:
    res=elem.split(" ")
    print(res[0], res[1])
    lat=res[0]
    lon=res[1]
    params = urllib.parse.urlencode({'latitude': lat, 'longitude':lon, 'format':'json'})

    url = 'https://geo.fcc.gov/api/census/block/find?' + params

    response = requests.get(url)

    data = response.json()

    print (data['County']['FIPS'][2:])

-96.1782434166667 46.2392777333...
1

KeyError: 'County'